.row{
    margin-top:40px;
    padding: 0 10px;
}

.clickable{
    cursor: pointer;  
}

.panel-heading span {
	margin-top: -20px;
	font-size: 15px;
}

.custom-button {
        color: #fff;
        background: #5e748c;
  			border:  #5e748c;
}